
.bannerBG{
    height: 900px;
        position: relative;
    .BannerParagraph{
        position: absolute;
        top: 50%;
        left: 300px;
        transform: translate(-50%,-50%);
        text-align: center;
        color: white;
        font-weight: 400;
        font-size: 14px;
        p{
            color: #333333;
            font-family: 'Poppins', sans-serif;
        }
        :nth-child(1 of p){
            font-size: 28px;
            width: fit-content;
        }
        :nth-child(2 of p) {
            font-size: 60px;
            font-weight: 600;
            width: fit-content;
        }
        .ShopNow{
            color: #333333;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 14px;
            text-transform: uppercase;
            background-color: #717fe0;
            text-decoration: none;
            color: white;
            border-radius: 15px;
            transition: 0.3s;
            &:hover{
                background-color: black;
            }
        }
    }
}

.BannerSlider{
    position: relative;

    .next {
        right: -20px !important;
    }

    .left {
        left: -20px;
    }

    .slider-button {
        transition: 0.3s;
        cursor: pointer !important;
        position: absolute;
        height: 50px;
        right: 0px;
        width: 100px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
        border-radius: 10px;
        color: rgba(0, 0, 0, 0.3) ;
        font-size: 50px;
        transition: 0.3s;
        &:hover {
            color: #717fe0;
        }
    }
}

@media (max-width:768px) {
    .bannerBG{
        height: 400px;
        .BannerParagraph{
            top: 50%;
            left: 160px;
            :nth-child(1 of p) {
                font-size: 18px;
                }
            
                :nth-child(2 of p) {
                    font-size: 30px;
                    font-weight: 600;
                    width: fit-content;
                }
        }
    }
}