
.freeShipping{
    background-color: #222222;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    p{
        color: #b2b2b2;
    }
    .rightBox{
        span{
            color: #b2b2b2;
            cursor: pointer;
            border-width: 1px;
            border-color:transparent transparent transparent rgba(255, 255, 255, 0.3);
            border-style: solid;
            transition: 0.3s;
        }
        span:nth-last-child(1){
            border-right: 1px solid rgba(255, 255, 255, 0.3);
        }
        span:hover{
            color: #007bff;
        }
    }
}
.navbarContainer{
    position: relative;
    
    .ActionOnScroll{
        position: fixed !important;
        top: 0 !important;
        transition: 0.3s;
        height: fit-content;
        background-color: white;
        border-bottom: 1px solid #e6e6e6;
        z-index: 250 !important;
    }
    .NavBar{
        position: absolute;
        bottom: -56px;
        transition: 0.3s;
        z-index: 2;
        .NavLink{
            color: #333333;
            transition: 0.3s;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            text-transform: capitalize;
            font-size: 14px;
        }
        

        :nth-child(3 of div) .NavLink{
            position: relative;
        }

        :nth-child(3 of div) .NavLink::after {
            position: absolute;
            content: 'hot';
            text-transform: uppercase;
            background-color: red;
            color: white;
            font-size: 10px;
            right: -10px;
            top: -15px;
            padding: 0 4px;
            border-radius: 5px;
        }

        .NavLink:hover{
            color: #007bff;
        }
       
        .icons{
            :nth-child(1 of a){
                margin: 0 22px;
            }
        }
    }
}


.SearchContainer {
        position: fixed;
        height: 100vh !important;
        background-color: rgba(255, 255, 255, 0.899);
        z-index: 10000000;

        input[type='text'] {
            border: none;
            border: 1px solid #e6e6e6;
            outline: none;
            font-family: poppins;
            font-size: 20px;
        }

        .closeIcon {
            position: absolute;
            left: 20px;
            top: 20px;
            font-size: 25px;
            cursor: pointer;
            transition: 0.3s !important;

            &:hover {
                color: red;
            }
        }
        .ProductsResult{
            background-color: whitesmoke;
            overflow: auto;
            h2{
                cursor: pointer;
                transition: 0.3s;
                font-size: 20px;
                font-family: poppins;
                &:hover{
                    color: #007bff;
                }
            }
        }
    }

